<!DOCTYPE html>

<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="meet.css">
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="script.js"></script>
</head>
<body>

<div ng-app="createMeeting" ng-controller="formCtrl" style="margin-left:100px; margin-top:35px;font-family:tahoma;">
  <form novalidate name="createMeetingForm" method="get" onsubmit="" >
    <label>Meeting Title:</label><br>
    <input type="text" name="meetingTitle" id="meetingTitle" ng-model="meeting.title" required "><span style="color:red;"> *required</span>
	
	<br><label>Description:</label><br>
    <input type="text" name="meetingDesc" id="meetingDesc" ng-model="meeting.description" required><span style="color:red;"> *required</span>
	<br><label>Location:</label><br>
    <input type="text" id ="meetingLoc" name="meetingLoc" ng-model="meeting.location" required><span style="color:red;"> *required</span>
	
    <br><label>Date:</label><br>
    <input type="datetime" name="meetingDate" id="meetingDate" ng-model="meeting.date" required><span style="color:red;"> *required</span>


    <br><br>
    <button onclick="submitmeeting()">Submit</button> or <button ng-click="reset()">Reset</button>
  </form>

</div>

<script>

</script>

</body>
</html>
