<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
	
	angular.module('meetingApp', [])
		.controller('MeetingController', function($scope) {
			var t = this;
			io.socket.get('/meeting',function(r){
				$scope.$applyAsync(function() 
				{
					console.log(r);
					t.m = r;
				});
			});

			this.debug = true;
			this.formData = {};
			// this.currentMeeting = {};

			this.showParticipants = function(p)
			{
				$scope.$applyAsync(function() 
				{
					t.currentMeeting = p;
					t.invitees = p.invitees;
					t.attendees = p.attendees;
				});
			}

			this.addParticipant = function()
			{
				// http://localhost:1337/meeting/7/invitees/add/5
				io.socket.post('/user/create', t.newUser, function(user)
				{
					console.log(user);
					io.socket.get('/meeting/' + t.currentMeeting.id + '/invitees/add/' + user.id, function(r){
						$scope.$applyAsync(function() 
						{
							console.log(r);
							t.currentMeeting = r;
							t.invitees = r.invitees;
							t.attendees = r.attendees;
							t.newUser = {};
						});
					});
				});
			}

			this.rmParticipant = function(p)
			{
				// http://localhost:1337/meeting/11/invitees/remove/1
				io.socket.get('/meeting/' + t.currentMeeting.id + '/invitees/remove/' + p, function(r){
					$scope.$applyAsync(function() 
					{
						console.log(r);
						t.currentMeeting = r;
						t.invitees = r.invitees;
						t.attendees = r.attendees;
					});
				});
			}

			this.submitForm = function()
			{
				io.socket.post('/meeting/create',t.formData,function(r)
				{
					$scope.$applyAsync(function() 
					{
						console.log(r);
						t.formData = {};
						io.socket.get('/meeting',function(r){
							$scope.$applyAsync(function() 
							{
								console.log(r);
								t.m = r;
							});
						});
					});	
				});
			}

			this.deleteMeeting = function(meeting)
			{
				console.log(meeting);
				io.socket.get('/meeting/destroy/' + meeting.id, function(r)
				{
					$scope.$applyAsync(function() 
					{
						console.log(r);	
						io.socket.get('/meeting',function(r){
							$scope.$applyAsync(function() 
							{
								console.log(r);
								t.m = r;
							});
						});
					});	
				});
			}
	});

</script>
<div class="container-fluid" style="padding: 20px" ng-app="meetingApp">
	<div class="row">
		<h1 style="text-align:center">Project EPIC Admin Dashboard</h1>
	</div>
	<div class="row" ng-controller="MeetingController as meetings">
		<div class="col-md-7">
			<h3>Meetings</h3>
			<table class="table">
				<tr class="info">
					<td>Title</td>
					<td>Description</td>
					<td>Location</td>
					<td>Meeting Date Time</td>
					<td>Actions</td>
				</tr>
				<tr ng-repeat="meeting in meetings.m">
					<td>{{meeting.title}}</td>
					<td>{{meeting.description}}</td>
					<td>{{meeting.location}}</td>
					<td>{{meeting.dateTime}}</td>
					<td><a class="btn btn-primary" ng-click='meetings.showParticipants(meeting)'>Info</a> <a class="btn btn-danger" ng-click="meetings.deleteMeeting(meeting)">Delete</a></td>
				</tr>
				<tr>
					<td>
						<div class="form-group">
							<input class="form-control" placeholder="Title" type="text" ng-model="meetings.formData.title" value="My First Meeting" name="title" /><br/>
						</div>
					</td>
					<td>
						<div class="form-group">
							<input class="form-control" placeholder="Description" type="text" ng-model="meetings.formData.description" value="This is my first meeting" name="description" /><br/>
						</div>
					</td>
					<td>
						<div class="form-group">
							<input class="form-control" placeholder="Location" type="text" ng-model="meetings.formData.location" value="Meeting Room 1" name="location" /><br/>
						</div>
					</td>
					<td>
						<div class="form-group">
							<input class="form-control" type="datetime-local" ng-model="meetings.formData.dateTime" name="dateTime" /><br/>				    		
						</div>
					</td>
					<td>
							<a class="btn btn-success form-control" ng-click="meetings.submitForm()">Create Meeting</a> 
					</td>
				</tr>
			</table>
			<code ng-show="meetings.debug">
				<pre>{{meetings.formData}}</pre>
			</code>
		</div>
		<div ng-show="meetings.currentMeeting" class="col-md-5">
			<h3>Meeting Invitees</h3>
			<table class="table">
				<tr class="info">
					<td>Name</td>
					<td>Surname</td>
					<td>Email</td>
					<td>Actions</td>
				</tr>
				<tr ng-repeat="p in meetings.invitees">
					<td>{{p.name}}</td>
					<td>{{p.surname}}</td>
					<td><a href="mailto:{{p.email}}">{{p.email}}</a></td>
					<td><a class="btn btn-warning" ng-click="meetings.rmParticipant(p.id)">Remove</a></td>
				</tr>
				<tr>
					<td><input class="form-control" placeholder="John" type="text" ng-model="meetings.newUser.name"/></td>
					<td><input class="form-control" placeholder="Dough" type="text" ng-model="meetings.newUser.surname"/></td>
					<td><input class="form-control" placeholder="john@example.com" type="email" ng-model="meetings.newUser.email"/></td>
					<td><a ng-click="meetings.addParticipant()" class="btn btn-success">Invite</a></td>
				</tr>
			</table>
			<code ng-show="meetings.debug">
				<pre>{{meetings.newUser}}</pre>
			</code>

			<h3>Meeting Attendees</h3>
			<table class="table">
				<tr class="info">
					<td>Name</td>
					<td>Surname</td>
					<td>Email</td>
				</tr>
				<tr ng-repeat="p in meetings.attendees">
					<td>{{p.name}}</td>
					<td>{{p.surname}}</td>
					<td><a href="mailto:{{p.email}}">{{p.email}}</a></td>
				</tr>
			</table>
		</div>
	</div>
</div>