<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="meet.css">
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="script.js"></script>

<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body style="font-family:Tahoma; min-width:850px; ">
<div id = "header" align="center">
<img src="images/epictitle2.jpg" alt="ProjectEpicLogo" height="60">
<img src="images/US_logo.png" alt="USLogo" height="50"><br>
<div id="usernamedisplay"> </b></div>
</div><script> document.getElementById("usernamedisplay").innerHTML="You are logged in as " +curruser.name;</script>
<div id = "menu">
<!--<div class="menuitem" name="menuitem" id="createMeeting" onclick="createMeeting();">Create a Meeting</div>-->
<div class="menuitem" name="menuitem" id="viewProfile" onclick="viewProfile();">View My Profile</div>
<div class="menuitem" name="menuitem" id="viewMyMeetings" onclick="viewMyMeetings();">View My Meetings</div>
<div class="menuitem" name="menuitem" id="admin" onclick="admin();">Admin </div>
<div class="menuitem" name="menuitem" id="deleteProfile" onclick="deleteProfile();">Delete My Profile</div>
<div class="menuitem" name="menuitem" id="register" onclick="register();">Register a user</div>
<div class="menuitem" name="menuitem" id="logOut" onclick="logOut();">Log Out</div>
</div>
<!--
<div id="login" > 
<form method = "get">
	Username: <input name="username" type = "text"/> 
	Password: <input type="password"/></form>
	<button type="submit">Log in</button>
	or <a>register</a>
</div>-->
<div id = "main" >

<div id="contentpage">

</div>

<div id="page" >
<img src="images/meeting.jpg" alt="MeetingBanner" width="100%">
</div>

</div>

<div id = "footer" style="background-color:black;color:white;">
<div id="prefooter" style="background-color:indianred;color:black;"></div>	
	<div class = "footitem" name = "footitem" id="whoarewe" onclick="showWhoAreWe();">Who are we?  </div>
	<div class = "footitem" name = "footitem" id="whatdowedo" onclick="showWhatDoWeDo();">What do we do?</div>
	<div class = "footitem" name = "footitem" id = "whywouldwedothis"onclick="showWhy();">Why would we do this?</div>
	<div class = "footitem"name = "footitem"  ><a style="color:white" href="https://github.com/Unsolvable-Solutions/Project-EPIC">Github link</a> </div>
	<div class = "footitem" name = "footitem" id="whatisthis" onclick="showWhatIsThis();">What is this?  </div>
	<div class = "footitem"name = "footitem" id="contactus" onclick="showContactUs();">Contact us</div>

</div>
<script>

</script>


</body>
</html>
