<div id="wrapper" ng-controller="editDebtorController as d" style="text-transform:capitalize">
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-8">
                        <h1 class="page-header"><small> {{d.debtor.title}} {{d.debtor.name}} ({{d.debtor.initials}}) {{d.debtor.surname}}</small></h1>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-lg btn-success pull-right" style="margin-top:25px;" ng-click="d.save()">Save</button>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-calendar-o fa-fw"></i> Basic Information
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4" style="padding-left:5px; padding-right:5px;">
                                            <label>Debtor Code</label>
                                            <input type="text" style="text-transform:uppercase" placeholder="" ng-model="d.debtor.debtorCode" class="form-control" disabled="true">
                                        </div>
                                        <div class="col-md-4" style="padding-left:5px; padding-right:5px;" >
                                            <label>ID Number</label>
                                            <input type="text" placeholder="" ng-model="d.debtor.idNum" ng-change="d.getDataFromId()" class="form-control" disabled="true">
                                        </div>
                                        <div class="col-md-4" style="padding-left:5px; padding-right:5px;">
                                            <label>Language</label>
                                            <select class="form-control" ng-model="d.debtor.language">
                                                <option value="afr">Afrikaans</option>
                                                <option value="eng">English</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2" style="padding-left:5px; padding-right:5px;" >
                                            <label>Title</label>
                                            <select class="form-control" ng-model="d.debtor.title">
                                                <option value="Dr">Dr</option>
                                                <option value="Ds">Ds</option>
                                                <option value="Ms">Ms</option>
                                                <option value="Mrs">Mrs</option>
                                                <option value="Mnr">Mnr</option>
                                            </select>                                        
                                        </div>
                                        <div class="col-md-2" style="padding-left:5px; padding-right:5px;" >
                                            <label>Initials</label>
                                            <input type="text" style="text-transform:uppercase" placeholder="" ng-model="d.debtor.initials" class="form-control">
                                        </div>
                                        <div class="col-md-3" style="padding-left:5px; padding-right:5px;" >
                                            <label>First Name</label>
                                            <input type="text" style="text-transform:capitalize" placeholder="" ng-model="d.debtor.name" class="form-control">
                                        </div>
                                        <div class="col-md-5" style="padding-left:5px; padding-right:5px;" >
                                            <label>Surname</label>
                                            <input type="text" style="text-transform:capitalize" placeholder="" ng-model="d.debtor.surname" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6" style="padding-left:5px; padding-right:5px;" >
                                            <label>Email Address</label>
                                            <input type="text" style="text-transform:lowercase" placeholder="" ng-model="d.debtor.email" class="form-control">
                                        </div>
                                        <div class="col-md-3" style="padding-left:5px; padding-right:5px;" >
                                            <label>Tel:</label>
                                            <input type="text" placeholder="" ng-model="d.debtor.tel" class="form-control">
                                        </div>
                                        <div class="col-md-3" style="padding-left:5px; padding-right:5px;" >
                                            <label>Cell:</label>
                                            <input type="text" placeholder="" ng-model="d.debtor.cell" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-calendar-o fa-fw"></i> Next of Kin
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">                                                                         
                                    <div class="row">
                                        <div class="col-md-4" style="padding-left:5px; padding-right:5px;" >
                                            <label>Name</label>
                                            <input type="text" ng-model="d.debtor.nok.name" class="form-control" />
                                        </div>
                                        <div class="col-md-4" style="padding-left:5px; padding-right:5px;" >
                                            <label>Contact</label>
                                            <input type="text" ng-model="d.debtor.nok.contact" class="form-control">
                                        </div>
                                        <div class="col-md-4" style="padding-left:5px; padding-right:5px;" >
                                            <label>Relationship</label>
                                            <select ng-model="d.debtor.nok.relationship" class="form-control">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12" style="padding-left:5px; padding-right:5px;" >
                                            <label>Comment</label>
                                            <input type="text" ng-model="d.debtor.nok.comment" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-calendar-o fa-fw"></i> Address Information
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6" style="padding-left:5px; padding-right:5px;" >
                                            <label>Postal Address</label>
                                            <input type="text" placeholder="Address Line 1" ng-model="d.debtor.postal.a" class="form-control">
                                            <input type="text" placeholder="Address Line 2" ng-model="d.debtor.postal.b" class="form-control">
                                            <input type="text" placeholder="Address Line 3" ng-model="d.debtor.postal.c" class="form-control">
                                        </div>
                                        <div class="col-md-6" style="padding-left:5px; padding-right:5px;" >
                                            <label>Address</label>
                                            <input type="text" placeholder="Address Line 1" ng-model="d.debtor.address.a" class="form-control">
                                            <input type="text" placeholder="Address Line 2" ng-model="d.debtor.address.b" class="form-control">
                                            <input type="text" placeholder="Address Line 3" ng-model="d.debtor.address.c" class="form-control">
                                        </div>


                                        <div class="col-md-4" style="padding-left:5px; padding-right:5px;" >
                                            <label>Occupation</label>
                                            <input type="text" style="text-transform:capitalize" placeholder="" ng-model="d.debtor.occupation" class="form-control">
                                        </div>
                                        <div class="col-md-4" style="padding-left:5px; padding-right:5px;" >
                                            <label>Employer</label>
                                            <input type="text" style="text-transform:capitalize" placeholder="" ng-model="d.debtor.employer" class="form-control">
                                        </div>
                                        <div class="col-md-4" style="padding-left:5px; padding-right:5px;" >
                                            <label>Nationality</label>
                                            <input type="text" style="text-transform:capitalize" placeholder="" ng-model="d.debtor.nationality" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-calendar-o fa-fw"></i> Medical Information
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">                                        
                                    <div class="row">
                                        <div class="col-md-4" style="padding-left:5px; padding-right:5px;" >
                                            <label>Medical Scheme Name</label>
                                            <select ng-model="d.debtor.medicalScheme.name" class="form-control">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <div class="col-md-4" style="padding-left:5px; padding-right:5px;" >
                                            <label>Medical Scheme Option</label>
                                            <select ng-model="d.debtor.medicalScheme.option" class="form-control">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <div class="col-md-4" style="padding-left:5px; padding-right:5px;" >
                                            <label>Medical Scheme Number</label>
                                            <input type="text" ng-model="d.debtor.medicalScheme.number" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12" style="padding-left:5px; padding-right:5px;" >
                                            <label>Comment</label>
                                            <input type="text" ng-model="d.debtor.medicalScheme.comment" class="form-control" />
                                        </div>
                                    </div>                                        
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <code><pre>{{d.debtor}}</pre></code>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
