
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://projectepic.info">Project EPIC</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a href="#/page/dash">Home</a></li>-->
        <li><a href="#/page/settings">Help</a></li>
        <li><a href="#/page/logout">Logout</a></li>
      </ul><!-- 
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form> -->
    </div>
  </div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
		  <ul class="nav nav-sidebar">
		    <li ui-sref="page.dash" ui-sref-active="active"><a href="">Home <span class="sr-only">(current)</span></a></li>
		    <li ui-sref="page.meetings" ui-sref-active="active" ><a href="">My Meetings</a></li>
<!--		    <li ui-sref="page.reports" ui-sref-active="active" ><a href="">Reports</a></li>-->
		    <li ui-sref="page.export" ui-sref-active="active" ><a href="">Export</a></li>
		  </ul>
		</div>

		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		    <div ui-view name="view.dash"></div>
		    <div ui-view name="view.meetings"></div>
		    <div ui-view name="view.reports"></div>	
		    <div ui-view name="view.export"></div>	    
		</div>
	</div>
</div>
