<h1 class="page-header">Dashboard</h1>

<div class="row placeholders">
<div class="col-xs-6 col-sm-3 placeholder">
  <img holder="holder.js/200x200/auto/sky?text=5" class="img-responsive" alt="Generic placeholder thumbnail">
  <h4>Owned Meeting</h4>
  <span class="text-muted">Something else</span>
</div>
<div class="col-xs-6 col-sm-3 placeholder">
  <img holder="holder.js/200x200/auto/vine?text=203" class="img-responsive" alt="Generic placeholder thumbnail">
  <h4>Members Invited</h4>
  <span class="text-muted">Something else</span>
</div>
<div class="col-xs-6 col-sm-3 placeholder">
  <img holder="holder.js/200x200/auto/sky?text=59%25" class="img-responsive" alt="Generic placeholder thumbnail">
  <h4>Attending Rate</h4>
  <span class="text-muted">Something else</span>
</div>
<div class="col-xs-6 col-sm-3 placeholder">
  <img holder="holder.js/200x200/auto/vine?text=0" class="img-responsive" alt="Generic placeholder thumbnail">
  <h4>Warnings</h4>
  <span class="text-muted">Something else</span>
</div>
</div>

<h2 class="sub-header">Section title</h2>
<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Some cool graph...??</h3>
			</div>
		  	<div class="panel-body">
				//graph
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Lastest updates</h3>
		  </div>
		  <div class="panel-body">
			<div class="table-responsive">
				<table class="table table-striped">
				  <thead>
				    <tr>
				      <th>#</th>
				      <th>Header</th>
				      <th>Header</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>1,001</td>
				      <td>Lorem</td>
				      <td>ipsum</td>
				    </tr>
				  </tbody>
				</table>
			</div>
		  </div>
		</div>
	</div>
</div>
