<div class="row"> 
	<h1 class="page-header">Export the meetings</h1>

</div>

<div class="row">
	<div class="meeting-boxes" style="float:left">
		<div ng-repeat = "m in r.meetings">
		
		  	{{m.title}}<br>
			{{m.description}}<br>
			{{m.room.title}}<br>
			{{m.dateStart}} {{m.timeStart}}<br>
	      	{{m.dateEnd}} {{m.timeEnd}}<br><br>

	        <a type="button" class="btn btn-small" href="/export/pdf?meeting={{m.id}}"> As PDF Report</a> <a type="button" class="btn btn-small" href="/export/csv?meeting={{m.id}}" > As CSV file</a>
		</div>
	  
	</div>
</div>


