<div class="row"> 
	<h1 class="page-header"> My Meetings
		<button type="button" class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#myModal" ng-click="m.new = {}">
	  		New Meeting
		</button>
	</h1>
</div> 

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create Meeting</h4>
      </div>
      <div class="modal-body" style="text-align:center">
      	
		<wizard on-finish="finishedWizard()"> 
		    <wz-step title="Details">
		    	<form role="form">
    				<div class="form-group">
      				<label for="meetingTitle">Meeting Title</label>
     					<input type="text" class="form-control" ng-model="m.new.title" id="meetingTitle" placeholder="Enter Title Here"/>
     					
              <label for="meetingDescription">Description</label>
     					<input type="text" class="form-control" ng-model="m.new.description" id="meetingDescription" placeholder="Enter Description Here"/>
     					
              <label for="meetingRoom">Room</label>
     					<select class="form-control" ng-model="m.new.room">
       					<option ng-repeat="r in m.rooms" value="{{r.id}}">{{r.title}}</option>
       				</select>

              <table class="table">
                <tr>
                  <td>
                  	<label for="meetingStartDate">Start Date</label>
                    <input type="date" class="form-control" ng-model="m.new.dateStart" id="meetingStartDate"/>
                  </td>
                  <td>
                  	<label for="meetingStartTime">Start Time</label>
                    <input type="time" class="form-control" ng-model="m.new.dateStart" id="meetingStartTime"/>
                  </td>
                  <tr>
                  <td>
                  	<label for="meetingEndDate">End Date</label>
                    <input type="date" class="form-control" ng-model="m.new.dateEnd" id="meetingEndDate"/>
                  </td>
                  <td>
                  	<label for="meetingEndTime">End Time</label>
                    <input type="time" class="form-control" ng-model="m.new.dateEnd" id="meetingEndTime"/>
                  </td>
                </tr>
              </table>
     					<label for="comment">Notes</label>
     					 <textarea class="form-control" rows="5" ng-model="m.new.note" id="notes" placeholder="Any Meeting Notes or Comments"></textarea>
    				</div>

  				</form>
		        <input type="submit" class="btn btn-primary" ng-click="m.updateOrCreateMeeting(m.new)" wz-next value="Next" />
		    </wz-step>

		    <wz-step title="Owners">
          <div ng-show="m.loading">
            <p>Please wait...</p>
          </div>
		    	<div ng-hide="m.loading">
          <form role="form">
    				<div class="form-group">

      				<label for="owner">Add an owner to the meeting</label>
     					<input type="email" class="form-control" id="ownerEmail" ng-model="ownerEmail" placeholder="owner@email.com"/>
     					<input type="button" class="btn btn-small" ng-click="m.addOwner(m.new,ownerEmail)" value="Add" style="margin-top:10px">
     					
    				</div>

  				</form>
  				<div class="panel panel-default" style="text-align:left">
  					<div class="panel-heading">Current Owners</div>
  					<div class="panel-body">
<!--  					<div  class="list-people"> YOU	<a href="#"><span class="glyphicon glyphicon-remove"></span> </a> </div>
  					-->
  					<div ng-repeat="o in m.new.owners" class="list-people"> {{o.email}} <a href="#"><span class="glyphicon glyphicon-remove"></span> </a> </div>
  						
  					</div>
  				</div>

		        <input type="submit" class="btn btn-primary" wz-next value="Next" />
		      </div>
        </wz-step>



<!--
Invites
-->			
		    <wz-step title="Invite">
		      <p>Invite a person to the meeting</p>
  				<form role="form">
      				<div class="form-group">
    						<label for="inviteEmail" style="margin-top:10px">Email</label>
         					<input type="email" label="Email Address" class="form-control" id="inviteEmail" ng-model="inviteEmail" placeholder="some@email.address"/>
         					<input type="button" class="btn btn-small" ng-click="m.addInvite(m.new,inviteEmail)" value="Invite"style="margin-top:10px">
      				</div>
      		</form>
				  <div class="panel panel-default" style="text-align:left">
  					<div class="panel-heading">Invited</div>
  					<div class="panel-body">
  					<div ng-repeat="i in m.new.rsvp" class="list-people" ng-hide="i.status == 'removed'"> {{i.person.email}} <a href="#"><span class="glyphicon glyphicon-remove"></span> </a> </div>
  					</div>
  				</div>
	        <input type="submit" class="btn btn-primary" wz-next value="Next" />
		    </wz-step>

		    

		    <wz-step title="Summary">
          <div class="panel-group" style="text-align:left">
            <div class="panel panel-default">
              <div class="panel-body">Title: {{m.new.title}}</div>
            </div>
            <div class="panel panel-default">
              <div class="panel-body">Description: {{m.new.description}}</div>
            </div>
                <div class="panel panel-default">
              <div class="panel-body">Room: {{m.new.room.title}}</div>
            </div>
            <div class="panel panel-default">
              <div class="panel-body">Start: {{m.new.dateStart}}</div>
            </div>
            <div class="panel panel-default">
              <div class="panel-body">End: {{m.new.dateEnd}}</div>
            </div>
        	<div class="panel panel-default">
            	<div class="panel-heading">Owners</div>
          		<div class="panel-body">
          		<div ng-repeat="o in m.new.owners" class="list-people"> {{o.email}} </div>
          	</div>
          	</div>
          	<div class="panel panel-default">
          		<div class="panel-heading">Invited</div>
          		<div class="panel-body">
          		<div ng-repeat="i in m.new.rsvp" class="list-people"> {{i.email}} </div>
          	</div>
          	</div>
          </div>
		      <input type="submit" class="btn btn-primary" data-dismiss="modal" value="Done" />
		    </wz-step>
		</wizard>
		<br/>        
		<br/>        
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" >Discard changes</button> -->
      </div>
    </div>
  </div>
</div>

<div class="row">

	<div class="table-responsive">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Title</th>
	      <th>Description</th>
	      <th>Room</th>
	      <th>Date Start</th>
	      <th>Date End</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="meeting in m.meetings">
	    
	      <td><a href="#/page/meetings/{{m.id}}">{{meeting.id}}</a></td>
        <td>{{meeting.title}}</td>
	      <td>{{meeting.description}}</td>
	      <td>{{meeting.room.title}}</td>
	      <td>{{meeting.dateStart}} {{meeting.timeStart}}</td>
	      <td>{{meeting.dateEnd}} {{meeting.timeEnd}}</td>
	      <td><input type="button" class="btn btn-small" ng-click="m.changeMeeting(meeting.id)" data-toggle="modal" data-target="#myModal" value="Change"> 
	       <input type="button" class="btn btn-small" ng-click="m.remove" value="Remove"></td>
	      
	    </tr>
	  </tbody>
	</table>
	</div>
</div>



