<div class="row"> 
	<h1 class="page-header"> My Meetings
		<button type="button" class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#myModal">
	  		New Meeting
		</button>
	</h1>
</div> 

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create Meeting</h4>
      </div>
      <div class="modal-body" style="text-align:center">
      	
		<wizard on-finish="finishedWizard()"> 
<!--
Details
-->
		     <wz-step title="Details" style="text-align:center" >
				<formly-form model="meeting.newMeeting.meeting" fields="meeting.newMeeting.model[0]">
		        	<input class="btn btn-primary" type="submit" wz-next value="Next" />
				</formly-form>		
		    </wz-step>
<!--
Notes
-->
		    <wz-step title="Notes">
		    	<form role="form">
    				<div class="form-group">
      					<label for="comment">Notes</label>
     					 <textarea class="form-control" rows="5" id="notes" placeholder="Any Meeting Notes or Comments"></textarea>
    				</div>
  				</form>
		        <input type="submit" class="btn btn-primary" wz-next value="Next" />
		    </wz-step>



		    <wz-step title="Owners">
		    	<form role="form">
    				<div class="form-group">

      					<label for="owner">Add an owner to the meeting</label>
     					<input type="email" class="form-control" id="ownerEmail" placeholder="owner@email.com"/>
     					<input type="button" class="btn btn-small" ng-click="m.addOwner" value="Add"></td>
     					
    				</div>

  				</form>
  				<div class="panel panel-default" style="text-align:left">
  					<div class="panel-heading">Current Owners</div>
  					<div class="panel-body">
  						<p ng-repeat "o in newMeeting.owners"> {{o.email}}	</p>
  					</div>
  				</div>

		        <input type="submit" class="btn btn-primary" wz-next value="Next" />
		    </wz-step>



<!--
Invites
-->			
		    <wz-step title="Invite">
		        <p>Invite a person to the meeting</p>
				<form role="form">
    				<div class="form-group">

      					<label for="inviteName">Name</label>
     					<input type="text" label="Name" class="form-control" id="inviteName" placeholder="James"/>
						<label for="inviteSurname">Surname</label>
     					<input type="text" label="Surname" class="form-control" id="inviteSurname" placeholder="Blunt"/>
						<label for="inviteEmail">Email</label>
     					<input type="email" label="Email Address" class="form-control" id="inviteEmail" placeholder="James@email.com"/>
     					<input type="button" class="btn btn-small" ng-click="m.addInvite" value="Invite"></td>
     					
    				</div>
    				</form>

<div class="dropdown">
  							<button class="btn btn-small dropdown-toggle" type="button" data-toggle="dropdown">Current list of invites
  								<span class="caret"></span></button>
  								<ul class="dropdown-menu">
  									<li ng-repeat " in newMeeting.invited"> {{i.email}}
  									</li>
								</ul>
						</div>

		        <input type="submit" class="btn btn-primary" wz-next value="Next" />
		    </wz-step>

		    

		    <wz-step title="Summary">
		    <table class ="table">
		    	<tr>
		    		<td><b>Title</b></td>
		    		<td>{{createdMeeting.title}}</td>
		    	</tr>
		    	<tr>
		    		<td><b>Description</b></td>
		    		<td>{{createdMeeting.description}}</td>
		    	</tr>		    	
		    	<tr>
		    		<td><b>Room</b></td>
		    		<td>{{createdMeeting.room}}</td>
		    	</tr>
		    	<tr>
		    		<td><b>Start</b></td>
		    		<td>{{createdMeeting.startDate}}{{createdMeeting.startTime}}</td>
		    	</tr>
		    	<tr>
		    		<td><b>End</b></td>
		    		<td>{{createdMeeting.endDate}} {{createdMeeting.endTime}}</td>
		    	</tr>
		    	<tr>
		    		<td><b>Owners</b></td>
		    		<td>
		    			<div class="dropdown">
  							<button class="btn btn-small dropdown-toggle" type="button" data-toggle="dropdown">Owner list
  								<span class="caret"></span></button>
  								<ul class="dropdown-menu">
  									<li ng-repeat "o in createdMeeting.owners"> {{o.email}}
  									</li>
								</ul>
						</div>
		    		</td>
		    	</tr>
		    	<tr>
		    		<td><b>Invited</b></td>
		    		<td>
		    			<div class="dropdown">
  							<button class="btn btn-small dropdown-toggle" type="button" data-toggle="dropdown">Invited list
  								<span class="caret"></span></button>
  								<ul class="dropdown-menu">
  									<li ng-repeat "i in createdMeeting.invited">{{i.email}}
  									</li>
								</ul>
						</div>
		    		</td>
		    	</tr>
		    </table>

		        <input type="submit" class="btn btn-primary" wz-next value="Done" />
		    </wz-step>
		</wizard>
		<br/>        
		<br/>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" >Discard changes</button>
        <button type="button" class="btn btn-primary"data-dismiss="modal">Save changes</button>

      </div>
    </div>
  </div>
</div>

<div class="row">

	<div class="table-responsive">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Title</th>
	      <th>Description</th>
	      <th>Room</th>
	      <th>Date Start</th>
	      <th>Date End</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="m in meeting.meetings">
	    
	      <td><a href="#/page/meetings/{{m.id}}">{{m.id}}</a></td>
	      <td>{{m.title}}</td>
	      <td>{{m.description}}</td>
	      <td>{{m.room.title}}</td>
	      <td>{{m.dateStart}} {{m.timeStart}}</td>
	      <td>{{m.dateEnd}} {{m.timeEnd}}</td>
	      <td><input type="button" class="btn btn-small" ng-click="m.change" value="Change"> 
	       <input type="button" class="btn btn-small" ng-click="m.remove" value="Remove"></td>
	      
	    </tr>
	  </tbody>
	</table>
	</div>
</div>



